
.header{
    background-color: rgba(240, 248, 255, 0.075);
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
    padding: 0.5rem;
}
.logo{
    width:10rem;
    height: 3rem;
}
.header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}

.header-menu>li:hover{
    color: var(--orange);
    cursor: pointer;
}
@media screen  and (max-width:768px ) {
    .header>:nth-child(2){
        position: fixed;
        right: 3rem;
        z-index: 99;
    }
    .header-menu{
        flex-direction: column;
        background-color: var(--appColor);
        width: 15rem;
        align-items: center;
        padding: 2rem;
        opacity: 0.8;
        top: 0; 
    }
}
@media screen  and (max-width:375px ) {
    .header>:nth-child(2){
        position: fixed;
        right: 3rem;
        z-index: 99;
    }
    .header-menu{
        flex-direction: column;
        background-color: var(--appColor);
        width: 15rem;
        align-items: center;
        padding: 2rem;
        opacity: 0.8;
        top: 0; 
    }
}